/*ubuntu regular почти везде. Roboto regulat в футере и паре мест*/
@font-face{

font-family: 'Roboto-Medium';

font-display: auto;

src: url('../css/fonts/Roboto-Medium.woff');

src: url('../css/fonts/Roboto-Medium') format('woff');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'Roboto-Regular';

font-display: auto;

src: url('../css/fonts/Roboto-Regular.woff');

src: url('../css/fonts/Roboto-Regular.woff') format('woff');

font-weight: normal;

font-style: normal;

}
@font-face{

font-family: 'Ubuntu-M';

font-display: auto;

src: url('../css/fonts/Ubuntu-M.woff');

src: url('../css/fonts/Ubuntu-M.woff') format('woff');

font-weight: normal;

font-style: normal;

}
@font-face{

font-family: 'Ubuntu-R';

font-display: auto;

src: url('../css/fonts/Ubuntu-R.woff');

src: url('../css/fonts/Ubuntu-R.woff') format('woff');

font-weight: normal;

font-style: normal;

}
@font-face{

font-family: 'Ubuntu-RI';

font-display: auto;

src: url('../css/fonts/Ubuntu-RI.woff');

src: url('../css/fonts/Ubuntu-RI.woff') format('woff');

font-weight: normal;

font-style: normal;

}
::-webkit-input-placeholder {
              color: rgba(27, 96, 182, 0.5) !important;
}
::-moz-placeholder { /* Firefox 19+ */
              color: rgba(27, 96, 182, 0.5) !important;
}
:-ms-input-placeholder {
              color: rgba(27, 96, 182, 0.5) !important;
}
:-moz-placeholder { /* Firefox 18- */
              color: rgba(27, 96, 182, 0.5) !important;
}
body{
  font-family: 'Ubuntu-R';
}
button{
  font-family: 'Roboto-Regular' !important;
}
footer{
  height: 353px;
  padding-top: 40px;
  background-image: url('../img/background/footer.png'); 
  background-size: cover;
  background-repeat: no-repeat; 
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: 'Roboto-Regular';
}
footer a{
  color: #fff;
}
footer .socialImgs,
footer .logoMtm{
  padding-bottom: 24px;
}
footer .lastRow{
  margin-top: 24px;
}
footer .nav-item p{
  margin: 0;
  color: #fff;
  cursor: pointer;
}
footer .redBtn{
  width: 130px;
  height: 30px;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
header{
  font-size: 12px;
  height: 42px;
}
header p,
.searchSection p{
  margin-bottom: 0;
}
header .humanImg{
  float: left;
  padding-right: 8px;
  padding-top: 10px;
}
header .row{
  height: 42px;
}
h2{
  font-size: 24px;
  text-transform: uppercase;
  color: #124E7D;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: 'Ubuntu-M' !important;
}
nav{
  height: 77px;
}
nav,
.bestsellers,
.headSlider,
.thisProduct .card,
.thisStoreSubsection .card,
.store-img-title p,
.searchSection p{
  font-family: 'Ubuntu-M';
}
nav a{
  color: #061C2E;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
nav a:hover{
  color: #D80000;
  text-decoration: none;
}
nav .active{
  color: #D80000;
}
nav .row{
  padding-top: 20px;
}
.aboutCompany{
  background-image: url('../img/background/headSlider.png'); 
  background-repeat: no-repeat;
  height: 400px;
}
.aboutCompany p{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
.aboutCompany .redBtn{
  border-radius: 10px;
  font-size: 14px;
  width: 130px !important;
  height: 30px !important; 
}
.bestsellersArrows{
  position: relative;
  top: -175px;
}
.searchPage .aboutThisProduct{
  margin-bottom: 27px;
}
.advantageSlider img{
  margin: auto;
}
.advantageSlider p{
  margin: auto;
}
.advantageSlider .d-flex{
  height: 100px;
}
.advImg4,
.advImg3{
  padding-right: 20px;
}
.bestsellers .blueBtn{
  background: #1B60B6;
  border-radius: 8px;
  width: 164px;
  height: 38px;
  color: #fff;
}
.bestsellers-container{
  background: rgba(216, 0, 0, 0.05);
  padding-bottom: 116px;
}
.brandLogo1{
  width: 119px;
  height: 127px;
}
.brandLogo2{
  width: 104px;
  height: 124px;
}
.brandLogo3{
  width: 184px;
  height: 123px;
}
.card{
  border-radius: 8px;
}
.cardImg{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
}
.cardCart{
  background: #D80000;
  border-radius: 8px;
  width: 38px;
  height: 38px;
}
.cardCart img{
  margin: auto;
  width: 26px;
  height: 21px;
}
.cardDescription{
  font-size: 14px;
  color: #061C2E;
  font-weight: 500;
}
.cardValue button{
  width: 31px;
  background: transparent;
  border: 0;
  font-size: 16px;
}
.cardValue input{
  width: 32px;
  height: 29px;
  background: rgba(27, 96, 182, 0.15);
  border: 0;
  text-align: center;
  border-radius: 8px;
}
.cardValue{
  border: 1px solid rgba(27, 96, 182, 0.15);
  border-radius: 8px;
  height: 31px;
}
.cardPrice{
  font-weight: bold;
  font-size: 24px;
  color: #1B60B6;
  margin-bottom: 0;
}
.clientName{
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
  color: #061C2E;
  font-family: 'Ubuntu-M';
}
.commentData{
  color: rgba(6, 28, 46, 0.5);
  font-weight: 400;
  font-family: 'Ubuntu-R' !important;
}
.commentSection .commentText{
  font-family: 'Ubuntu-RI';
}
.commentsSlider{
  background: rgba(27, 96, 182, 0.05);
  padding-top: 36px;
  padding-bottom: 36px;
}
.requisites,
.contacts .contacts-black{
  color: #061C2E;
}
.contacts span{
  color: rgba(6, 28, 46, 0.5) !important;
}
.contactsP1{
  margin-bottom: 21px;
  min-width: 202px;
}
.contactsP2{
  margin-bottom: 15px;
}
.contactsP3{
  margin-bottom: 20px;
}
.dairyFarmReconstructionPage .mainContainer p{
  font-size: 14px;
  line-height: 18px;
  color: #061C2E;
}
.dairyFarmReconstructionPage h3{
  line-height: 23px;
  font-size: 18px;
  color: #124E7D;
}
.dairyFarmReconstructionPage .buttons .redBtn{
  width: 164px;
  height: 39px;
  border-radius: 8px;
}
.dairyFarmReconstructionPage .lastServiceTheme{
  font-size: 16px !important; 
}
.descripton-row .active{
  background: rgba(0, 102, 255, 0.05);
  border-radius: 8px 8px 0px 0px;
}
.footerTitle{
  font-family: 'Roboto-Medium' !important;
}
.footerTitleContacts{
  margin-bottom: 26px;
}
.formImg{
  flex: 0 0 34.666667%;
  max-width: 34.666667%;
  position: absolute;
  left: 0%;
}
.formImg img{
  width: 100%;
}
.formSection a{
  color: #D80000;
}
.formSection p{
  font-size: 10px;
  color: #061C2E;
}
.formSection h2{
  margin-bottom: 30px;
}
.formSection{
  background: linear-gradient(79.99deg, rgba(27, 96, 182, 0.15) 36.53%, rgba(0, 102, 255, 0.05) 100.7%);
  min-height: 385px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.formSection .form-control{
  border: 1px solid rgba(0, 102, 255, 0.15);
  border-radius: 8px;
  margin-bottom: 11px;
}
.formSection .redBtn{
  width: 100%;
  height: 44px;
  border-radius: 8px;
}
.headSlider .row{
  height: 400px;
  padding-left: 110px;
}
.headSliderarrows{
  position: relative;
  top: -215px;
}
.lastServiceTheme{
  margin-bottom: 68px;
}
.logoMtm{
  padding-top: 4px;
}
.mailImg{
  width: 9.56px;
  height: 7.82px;
  margin-top: 7px;
  margin-right: 5px;
}
.mailOverBtn{
  margin-bottom: 12px !important;
}
.mailWhiteImg{
  float: left;
  padding-right: 11px;
  padding-top: 6px;
}
.mobileFooter{
  text-align: center;
}
.mobileNav{
  height: 69px;
  background-image: url('../img/background/blueNavBg.png');  
}
.mobileNavFooter{
  font-size: 14px;
  color: #124E7D;
  margin-left: 12px;
}
.mobileNavFooter p{
  margin-bottom: 15px !important;
}
.mobileNavFooter .redBtn{
  border-radius: 8px;
  margin-bottom: 15px;
}
.mobileNavPhoneNumbers{
  color: #fff;
}
.mobileNavRow{
  height: 69px;
}
/*белые точки слайдера*/
.my-dots {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}

.my-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url('../img/icons/whiteEmptyDot.png');
  text-align: center;
  opacity: 1;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}

.my-dots li.slick-active button:before {
  opacity: 1;
  color: black;
  content: url('../img/icons/whiteDot.png');
}
/*синие точки слайдера*/
.my-dots-blue {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dots-blue li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.my-dots-blue li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots-blue li button:hover,
.my-dots-blue li button:focus {
  outline: none;
}

.my-dots-blue li button:hover:before,
.my-dots-blues li button:focus:before {
  opacity: 1;
}

.my-dots-blue li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url('../img/icons/blueEmptyDot.png');
  text-align: center;
  opacity: 1;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}

.my-dots-blue li.slick-active button:before {
  opacity: 1;
  color: black;
  content: url('../img/icons/blueDot.png');
}

.nameOfProduct,
.searchPage .aboutThisProduct{
  color: #061C2E;
}
.nameOfProduct{
  font-weight: 500;
  line-height: 23px;
  font-size: 18px;
  text-decoration-line: underline;
}
.navbar-toggler{
  padding: 0;
  height: 25px;
}
.nav-link{
  line-height: 42px;
  font-size: 18px;
  color: #124E7D;
}
.navbar-collapse .navbar-nav{
  margin-left: 27px;
}
.office-address{
  font-family: 'Ubuntu-M';
}
.phoneImg {
  float: left;
  padding-top: 7px;
  padding-right: 10px;
}
.phoneFooterImg{
  float: left;
  padding-top: 5px;
  padding-right: 10px;
}
.placemarkImg{
  float: left;
  padding-right: 6px;
  padding-top: 2px;
}
.productCart{
  width: 84px;
  height: 43px;
  border-radius: 11px;
  background: #fff;
}
.productCart img{
  width: 26px;
  height: 21px;
  margin: auto;
}
.product-description-text,
.product-specifications-text{
  background: rgba(0, 102, 255, 0.05);
  border-radius: 0px 8px 8px 8px;
}
.productsNumber{
  width: 26px;
  height: 24px;
  background: #D80000;
  color: #fff;
}
.productsSlider img{
  border-radius: 8px;
  width: 120px;
  margin: auto;
}
.productsSlider{
  padding-left: 24px;
  padding-right: 24px;
}
.productsSlider .productsDiv{
  width: 135px;
  display: flex;
}
.product-specifications-text{
  display: none;
}
.redBtn{
  width: 128px;
  height: 25px;
  border: 0;
  border-radius: 25px;
  background: #D80000;
  color: #fff;
}
.redWhiteBtn{
  width: 164px;
  height: 39px;
  padding: 0;
  font-size: 15px;
  color: #D80000;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #D80000;
}
.blueBtn{
  width: 164px;
  height: 39px;
  color: #fff;
  background: #1B60B6;
  border-radius: 8px;
}
.redText{
  color: #D80000;
}
.redTransBtn{
  width: 130px;
  height: 30px;
  color: #D80000;
  background: transparent;
  border: 1px solid #D80000;
  border-radius: 8px;
}
.search-pagination p{
  font-size: 14px;
  color: #061C2E;
  margin-bottom: 4px;
}
.searchResults{
  margin-bottom: 90px;
}
.searchResults div{
  background: #FFFFFF;
  border: 1px solid rgba(6, 28, 46, 0.15)
}
.searchSection{
  font-size: 12px;
  height: 96px;
  background-image: url('../img/background/blueNavBg.png');  
}
.searchSection .row{
  height: 96px;
}
.servicesPage .blueBtn{
  background: #1B60B6;
  border-radius: 8px;
  width: 220px;
  height: 39px;
  font-size: 14px;
  color: #fff;
}
.servicesRow p{
  margin-bottom: 18px;
  height: 32px;
  font-size: 14px;
  line-height: 16px;
}
.servicesRow .card{
  height: 300px;
  margin-bottom: 30px;
}
.serviceTheme{
  margin-bottom: 47px;
}
.socialImgs img{
  width: 26.1px;
  height: 26.1px;
}
.sorting{
  font-family: 'Roboto-Regular';
}
.store-img-title p{
  margin: auto;
  font-size: 14px;
  line-height: 14px;
}
.store-img-title{
  background: rgba(216, 0, 0, 0.6);
  text-align: center;
  height: 36px;
  position: relative;
  top: -36px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #fff;
  display: flex;
}
.store-products img{
  width: 100%;
  border-radius: 8px;
}
.store-sections li{
  list-style-type: none;
  font-size: 14px;
  color: #061C2E;
}
.store-sections ul{
  padding-left: 17px;
}
.store-sections .store-section-main{ 
  width: 271px;
  height: 37px;
  background: #124E7D;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  color: #fff;
  font-weight: 500;
  display: flex;
  font-family: 'Ubuntu-M';
}
.store-sections img{
  width: 16px;
  height: 8px;
  position: relative;
  right: -29%;
  top: 40%;
}
.store-sections p{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 17px;
}
.store-sections .active{
  background: #D80000 !important;
}
.store-section-main{

}
.thisProduct .aboutThisProduct .redBtn{
  width: 100%;
  height: 38px;
  border-radius: 8px;
  margin-top: 11px;
}
.way{
  margin-bottom: 8px !important;
}
.way,
.dateOfChange{
  color: rgba(6, 28, 46, 0.5);
  margin-bottom: 0;
  line-height: 15px;
  font-size: 12px;
}
#navbarNav {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
}
#navbarNav p{
  margin-bottom: 0;
}
#navbarNav hr{
  border-bottom: 1px solid #124E7D;
}
#toTop {
  width: 100px;
  padding: 5px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  cursor: pointer;
}
@media (max-width: 992px){
  footer{
    height: 480px;
    padding-top: 43px;
  }
  h2{
    text-align: center;
  }
  .aboutCompany p{
  font-size: 24px;
  }
  .about-company-text{
    font-size: 14px;
  }
  .brandsSlider img{
    margin: auto;
  }
  .commentsSlider {
    font-size: 14px;
  }
  .headSlider .row{
    padding-left: 23px;
    padding-right: 22px;
    height: 348px;
  }
  .formSection{
    background: #fff;
    margin-top: 0;
  }
  .mobileFooter .redBtn{
    margin-bottom: 24px;
    border-radius: 8px;
  }
  #toTop {
    width: 45px;
    padding: 0px;
    position: fixed;
    bottom: 70px;
    right: 0px;
    cursor: pointer;
  }
}
