/*ubuntu regular почти везде. Roboto regulat в футере и паре мест*/
footer{
  height: 353px;
  padding-top: 40px;
  background-image: url('../img/background/footer.png'); 
  background-repeat: no-repeat; 
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
footer a{
  color: #fff;
}
footer .socialImgs,
footer .logoMtm{
  padding-bottom: 24px;
}
footer .lastRow{
  margin-top: 24px;
}
footer .nav-item p{
  margin: 0;
  color: #fff;
  cursor: pointer;
}
footer .redBtn{
  width: 130px;
  height: 30px;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
header{
  font-size: 12px;
  height: 42px;
}
header p,
.searchSection p{
  margin-bottom: 0;
}
header .humanImg{
  float: left;
  padding-right: 8px;
  padding-top: 10px;
}
header .row{
  height: 42px;
}
h2{
  font-size: 24px;
  text-transform: uppercase;
  color: #124E7D;
  margin-bottom: 40px;
  margin-top: 40px;
}
nav{
  height: 77px;
}
nav a{
  color: #061C2E;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
nav a:hover{
  color: #D80000;
  text-decoration: none;
}
nav .active{
  color: #D80000;
}
nav .row{
  padding-top: 20px;
}
.advantageSlider img{
  margin: auto;
}
.advantageSlider p{
  margin: auto;
}
.advantageSlider .d-flex{
  height: 100px;
}
.bestsellers input{
  width: 1em;
  height: 30px;
  background: rgba(27, 96, 182, 0.15);
}
.bestsellers .blueBtn{
  background: #1B60B6;
  border-radius: 8px;
  width: 164px;
  height: 38px;
  color: #fff;
}
.brandLogo1{
  width: 119px;
  height: 127px;
}
.brandLogo2{
  width: 104px;
  height: 124px;
}
.brandLogo3{
  width: 184px;
  height: 123px;
}
.card{
  border-radius: 8px;
}
.cardImg{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
}
.cardCart{
  background: #D80000;
  border-radius: 8px;
  width: 38px;
  height: 38px;
}
.cardCart img{
  margin: auto;
  width: 26px;
  height: 21px;
}
.cardDescription{
  font-size: 14px;
  color: #061C2E;
  font-weight: 500;
}
.cardValue button{
  height: 30px;
  width: 31px;
  background: #fff;
  border: 1px solid rgba(27, 96, 182, 0.15);
}
.cardPrice{
  font-weight: bold;
  font-size: 24px;
  color: #1B60B6;
  margin-bottom: 0;
}
.clientName{
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
  color: #061C2E;
}
.commentData{
  color: rgba(6, 28, 46, 0.5);
  font-weight: 400;
}
.commentsSlider{
  background: rgba(27, 96, 182, 0.05);
  padding-top: 36px;
  padding-bottom: 36px;
}
.contactsP1{
  margin-bottom: 21px;
  min-width: 202px;
}
.contactsP2{
  margin-bottom: 15px;
}
.contactsP3{
  margin-bottom: 20px;
}
.footerTitleContacts{
  margin-bottom: 26px;
}
.headSlider .row{
  height: 400px;
  padding-left: 55px;
}
.lastServiceTheme{
  margin-bottom: 68px;
}
.logoMtm{
  padding-top: 4px;
}
.mailImg{
  width: 9.56px;
  height: 7.82px;
  margin-top: 7px;
  margin-right: 5px;
}
.mailOverBtn{
  margin-bottom: 12px !important;
}
.mailWhiteImg{
  float: left;
  padding-right: 11px;
  padding-top: 6px;
}
.mobileFooter{
  text-align: center;
}
.mobileNav{
  height: 69px;
  background-image: url('../img/background/blueNavBg.png');  
}
.mobileNavFooter{
  font-size: 14px;
  color: #124E7D;
  margin-left: 12px;
}
.mobileNavFooter p{
  margin-bottom: 15px !important;
}
.mobileNavFooter .redBtn{
  border-radius: 10px;
  margin-bottom: 15px;
}
.mobileNavPhoneNumbers{
  color: #fff;
}
.mobileNavRow{
  height: 69px;
}
.navbar-toggler{
  padding: 0;
  height: 25px;
}
.nav-link{
  line-height: 42px;
  font-size: 18px;
  color: #124E7D;
}
.navbar-collapse .navbar-nav{
  margin-left: 27px;
}
.phoneImg {
  float: left;
  padding-top: 7px;
  padding-right: 10px;
}
.phoneFooterImg{
  float: left;
  padding-top: 5px;
  padding-right: 10px;
}
.placemarkImg{
  float: left;
  padding-right: 6px;
  padding-top: 2px;
}
.productCart{
  width: 84px;
  height: 43px;
  border-radius: 11px;
  background: #fff;
}
.productCart img{
  width: 26px;
  height: 21px;
  margin: auto;
}
.productsNumber{
  width: 26px;
  height: 24px;
  background: #D80000;
  color: #fff;
}
.redBtn{
  width: 128px;
  height: 25px;
  border: 0;
  border-radius: 25px;
  background: #D80000;
  color: #fff;
}
.redWhiteBtn{
  width: 164px;
  height: 39px;
  color: #D80000;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #D80000;
}
.blueBtn{
  width: 164px;
  height: 39px;
  color: #fff;
  background: #1B60B6;
  border-radius: 8px;
}
.redText{
  color: #D80000;
}
.searchSection{
  font-size: 12px;
  height: 96px;
  background-image: url('../img/background/blueNavBg.png');  
}
.searchSection .row{
  height: 96px;
}
.servicesRow .card{
  height: 300px;
  margin-bottom: 30px;
}
.serviceTheme{
  margin-bottom: 47px;
}
.socialImgs img{
  width: 26.1px;
  height: 26.1px;
}
#aboutCompany{
  background-image: url('../img/background/headSlider.png'); 
  background-repeat: no-repeat;
  height: 400px;
}
#aboutCompany p{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
#aboutCompany .redBtn{
  border-radius: 10px;
  font-size: 14px;
  width: 130px !important;
  height: 30px !important; 
}
#dairyFarmReconstructionPage .mainContainer p{
  font-size: 14px;
  line-height: 18px;
  color: #061C2E;
}
#dairyFarmReconstructionPage h3{
  line-height: 23px;
  font-size: 18px;
  color: #124E7D;
}
#dairyFarmReconstructionPage .buttons .redBtn{
  width: 164px;
  height: 39px;
  border-radius: 8px;
}
#dairyFarmReconstructionPage .lastServiceTheme{
  font-size: 16px !important; 
}
#navbarNav {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
}
#navbarNav p{
  margin-bottom: 0;
}
#navbarNav hr{
  border-bottom: 1px solid #124E7D;
}
#servicesPage .blueBtn{
  background: #1B60B6;
  border-radius: 8px;
  width: 220px;
  height: 39px;
  font-size: 14px;
  color: #fff;
}
#toTop {
  width: 100px;
  padding: 5px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  cursor: pointer;
}
@media (max-width: 992px){
  footer{
    height: 480px;
    padding-top: 43px;
  }
  h2{
    text-align: center;
  }
  .brandsSlider img{
    margin: auto;
  }
  .mobileFooter .redBtn{
    margin-bottom: 24px;
  }
}